

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.btn{
	cursor:	default;
}
.ep_logo{
	margin-bottom: 5px;
	margin-right: 5px;
}













